{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@containers": "./src/app/containers",
          "@components": "./src/app/components",
          "@constants": "./src/app/constants",
          "@libs": "./src/app/libs",
          "@pages": "./src/app/pages",
          "@services": "./src/app/services",
          "@assets": "./src/app/assets",
          "@store": "./src/app/store",
          "@mocks": "./src/app/mocks"
        }
      }
    ],
    "inline-react-svg"
  ]
}
